sudo: false

language: python

python:
    - "3.6"
  
if: commit_message = "Q2A"

script:
    - make -j 10 cognitive cyclomatic
    - make tests
    - make time

notifications:
    email: false
    webhooks: https://q2a.di.uniroma1.it/service/ci

deploy:
    provider: pages
    skip_cleanup: true
    #local_dir: myfolder/  # or remove this line to upload from root of repo
    github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
    target-branch: master
    keep-history: true
    on:
        branch: master
