sudo: false

language: python

python:
    - "3.6"
  
if: commit_message = "Q2A"

script:
    - make -j 10
    - git add .
    - git commit -m "TRAVIS"
    - git push

notifications:
    email: false
    webhooks: https://q2a.di.uniroma1.it/service/ci

deploy:
    provider: gh-pages
    on:
        target-branch: master
