sudo: false

language: python

python:
    - "3.6"
  
cache: pip

#env: # boh

file_glob: true

if: commit_message = "Q2A"

script:
    - make STUDENT=$STUDENT link
    - make STUDENT=$STUDENT

notifications:
    email: false
    webhooks: https://q2a.di.uniroma1.it/service/ci

deploy:
    provider: pages
    skip_cleanup: true
    #local_dir: myfolder/  # or remove this line to upload from root of repo
    github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
    target-branch: $STUDENT
    keep-history: true
    on:
            all_branches: true
            # branch: master, cyclomatic cognitive tests time
env:
    - STUDENT=1158925
    - STUDENT=1162431
    - STUDENT=1277198
    - STUDENT=1320404
    - STUDENT=1320780
    - STUDENT=1333589
    - STUDENT=1338215
    - STUDENT=1391924
    - STUDENT=1404378
    - STUDENT=1408597
    - STUDENT=1417388
    - STUDENT=1455544
