sudo: false

language: python

python:
    - "3.6"
  
if: commit_message = "Q2A"

script:
    - make -j 10

notifications:
    email: false
    webhooks: https://q2a.di.uniroma1.it/service/ci
