sudo: false

language: python

python:
    - "3.6"
  
cache: pip

matrix:
    include:
        - env: TEST_SUITE=cyclomatic
            if: commit_message = "Q2A" AND branch = master
        - env: TEST_SUITE=cognitive
            if: branch = cyclomatic
        - env: TEST_SUITE=tests
            if: branch = cognitive
        - env: TEST_SUITE=time
            if: branch = tests

script:
    - make link
    - make $TEST_SUITE

notifications:
    email: false
    webhooks: https://q2a.di.uniroma1.it/service/ci


deploy:
    provider: pages
    skip_cleanup: true
    #local_dir: myfolder/  # or remove this line to upload from root of repo
    github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
    target-branch: $TEST_SUITE
    keep-history: true
    on:
        branch: master
